/**
 * START --- SETUP TAILWINDCSS EDIT
 *
 * `yarn rw setup ui tailwindcss` placed these imports here
 * to inject Tailwind's styles into your CSS.
 * For more information, see: https://tailwindcss.com/docs/installation#include-tailwind-in-your-css
 */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/**
 * END --- SETUP TAILWINDCSS EDIT
 */
 @import url('https://fonts.googleapis.com/css2?family=Arvo&family=Merriweather+Sans&family=Prompt&display=swap');

 @layer base {
  html {
    font-family: Arvo, sans-serif;
  }
}

.logo-img {
  width: 200px;
  height: auto;
}

/* For Webkit-based browsers */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #F4F5F7;
}

::-webkit-scrollbar-thumb {
    background-color: #C1C7D0;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #34D399;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.fade-in:hover {
  opacity: 1;
}






